body {
  font-family: "Roboto", sans-serif;
}

td {
  color: #253658;
  font-size: 14px;
}

th a {
  font-weight: 500;
}

thead {
  background-color: #253658;
  color: white;
}

th, a {
  color: white;
  font-size: 14px;
}

.box-shadow-container {
  -webkit-box-shadow:0px 4px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  padding: 15px;
  border-radius: 4px;
}

.button-insert {
  margin-bottom: 15px;
}

.overflow-auto {
  overflow: auto;
  overflow-y: hidden;
}

th {
  text-align: center;
}

.table, .fa .fa-eye {
  color: red !important;
}

.content-header>.breadcrumb {
  background: none;
}

.content-header>.breadcrumb>li>a {
  color: #253658;
}

.summary {
  color: #253658;
  font-size: 18px;
}

.bg-blue {
  background-color: #0050C9 !important;
  color: #FFFFFF;
}

.bg-blue-2 {
  background-color: #0F59E2 !important;
  color: #FFFFFF;
}

.bg-blue-3 {
  background-color: #4B9BF2 !important;
  color: #FFFFFF;
}

.btn {
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px !important;
  /* margin-left: 7px; */
}

.btn-success:hover {
  background: #008d4c !important;
  border: none;
}

.btn-success {
  height: 40px;
  width: 150px;
}

.btn-danger:hover {
  background: #d73925 !important;
  border: none;
}

.btn-warning:hover {
  background: #e08e0b !important;
  border: none;
}

.btn-add {
  position: absolute;
  top: 27px;
  right: 30px;
  z-index: 99;
}

.btn-add button {
  border: 1px solid #d2d6de !important;
  padding: 13px 12px;
}

.logo-mini {
  display: none;
}

.logo-lg {
  display: block;
}

.sidebar-collapse .logo-mini {
  display: block;
  text-align: center;
}

.sidebar-collapse .logo-lg {
  display: none;
}

.main-header {
  height: 66px !important;
}

.main-header .logo {
  height: 61px !important;
  line-height: 61px !important;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-header .sidebar-toggle {
  height: 61px !important;
  padding: 20px 20px !important;
}

.main-sidebar,
.left-side {
  padding-top: 61px;
}

.sidebar-menu .treeview-menu > li > a {
  padding: 7px 5px 7px 15px;
  display: block;
  font-size: 16px;
  font-weight: 300;
}

.sidebar-menu > li {
  font-size: 16px;
  font-weight: 300;
}

.user-panel p {
  padding-bottom: 0px;
}

.user-panel small {
  color: #888;
}

.control-sidebar {
  padding-top: 61px;
}

.content-header {
  padding: 30px 10px 20px 32px;
  background: #ffffff;
}

.content-header > .breadcrumb {
  float: none !important;
  position: relative !important;
  padding: 0px !important;
  margin-top: 5px;
  top: 0px !important;
  right: 0px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.row {
  margin: 0 !important;
}

.filters, td, input {
  height: 15px !important;
}

.filters, td, select {
  height: 15px !important;
}

.form-control {
  display: block;
  width: 100%;
  height: 45px !important;
  border-radius: 4px !important;
  padding: 12px 12px;
  font-size: 16px!important;
}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 42px;
  height: 34px;
  line-height: 48px;
  text-align: center;
  pointer-events: none;
  font-size: 18px;
}

td {
  text-align: center;
}

input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control {
    line-height: 20px;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
  border: none !important;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border: none !important;
  word-break: break-word;
  max-width: 120px;
  min-width: 80px !important;
}
