html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif !important;
}

/*h1, h2, h3, h4, h5 {
    font-weight: 600;
}*/

.login-page,
.register-page {
  background-image: url(../img/background.png);
  background-size: cover;
  background-attachment: fixed;
}

.login-logo a {
  color: #fff;
}

.filters td input {
  height: 25px !important;
}

.buttons-group {
  display: flex;
  justify-content: center;
  margin: 0;
}

.box-body {
  padding: 0 !important;
}

.btn-danger {
  background: #DF3713;
  border-radius: 4px;
  width: 170px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
}

.button-clear {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  color: #253658;
  height: 50px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-bottom: 15px;
}

.btn-primary {
  background: #253658 !important;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  height: 50px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.file-preview {
  border: none;
  max-width: 300px;
  border: 1px dashed #253658;
}

.file-drop-zone-title {
  color: #253658;
  font-size: 16px;
}

.file-caption-main {
  max-width: 100px !important;
  background: red !important;
  float: right;
}

.file-drop-zone {
  border: none;
}

.btn-file {
  background: #ffffff00 !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
  color: #253658 !important;
  font-weight: normal;
  position: absolute !important;
  top: 100px;
  left: 300px;
}

.close {
  opacity: 10 !important;
  color: #253658 !important;
  margin: 5px;
}

.file-input .btn-primary {
  border: 1px solid #253658 !important;
  max-height: 35px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  border: 1px solid #253658 !important;
  border-radius: 4px !important;
}

.veiculo_label-horario {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #253658;
  padding: 0;
  margin: 0;
  min-width: 50px;
  margin-bottom: -25px;
}

.veiculo_titulo-horarios {
  font-size: 20px;
  color: #253658;
  font-weight: bold;
  margin-bottom: -20px;
}

.veiculo_horario-check {
  margin-top: 35px;
  padding: 0;
}

.veiculo_horario-check label {
  align-items: center;
  display: flex;
  font-size: 14px !important;
  font-weight: normal;
  color: #253658;
}

.form-label-title {
  font-weight: bold;
  font-size: 20px;
  color: #253658;
}

.form-label-span {
  font-weight: normal;
  font-size: 18px;
  color: #202020;
}

.form-title-span {
  margin-bottom: 20px;
}

.form-label-img {
  max-width: 100px;
}

#tipoveiculo-nome, #grupo-nome, #grupo-descricao, #unidade-idregional, #unidade-endereco, #unidade-nome, #regional-nome, .select2-container--krajee .select2-selection--multiple {
  border: 1px solid #253658 !important;
  border-radius: 4px !important;
  max-width: 300px;
  padding-left: 10px !important;
  min-height: 45px;
}

#veiculo-horariofinal, #veiculo-horarioinicio {
  max-height: 36px;
  min-width: 60px;
  padding: 5px !important;
}

.tox .tox-editor-container {
  border: 1px solid #253658 !important;
  border-radius: 4px !important;
}

.tox-tinymce {
  border: none !important;
}

.kv-panel-before {
  padding: 0 !important;
}

.summary {
  top: 0px;
}

.panel-heading .pull-right .summary {
  position: absolute;
  left: 30px;
  top: 30px;
}

.panel-heading {
  padding: 0 !important;
}

.control-label {
  font-size: 20px;
  color: #253658 !important;
}

.col-md-4 .form-group .form-control {
  border: 1px solid #253658 !important;
  color: #253658 !important;
  padding: 10px !important;
}

.login-box-body, .register-box-body{
  background: #78787800;
  color: #fff;
  width: 500px !important;
}

.login_button {
  display: flex;
  justify-content: center;
}

.login_icon-eye {
  font-size: 16px;
}
.login_icon-key {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
  padding: 0 8px;
  align-items: flex-end !important;
}

.login_icon-user {
  margin-top: 8px;
  left: 0;
}

.login-box,
.register-box {
  width: 500px;
  margin: 0 auto;
  margin-top: 25px;
}

.login-page .bg-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  /* background: #0050C9; */
  opacity: 0.5;
  z-index: -1;
}

.login-page .forgot-password {
  margin: 10px;
  text-align: center;
}

.login_logo {
  height: 205px;
  width: 186px;
}

.login_developed-by {
  font-size: 20px;
  bottom: 30px;
  left: 0px;
  position: absolute;
  width: 100vw;
  text-align: center;
}

.form-control {
  border: none !important;
  border-bottom: 1px solid white !important;
  font-size: 20px !important;
  position: relative;
  padding-left: 45px !important;
}
.forgot-password {
  color: #fff;
  margin-top: 50px;
}

#w0-filters .form-control {
  height: 21px !important;
  padding: 0 !important;
}

td:last-child a span {
  color: #253658 !important;
  margin-right: 10px;
}

td:last-child {
  display: flex;
  flex-direction: row;
}

p {
  padding-bottom: 0px;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.content_title-principal {
  font-size: 32px !important;
  font-weight: bold !important;
  color: #253658;
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box-small {
  max-width: 390px;
  max-height: 400px;
  width: 100%;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 20px 40px;
  margin-left: 25px;
  margin-bottom: 30px;
}

.box-medium {
  max-width: 810px;
  max-height: 400px;
  width: 100%;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 20px 40px;
  margin-left: 25px;
  margin-bottom: 30px;
}

.sub-title {
  font-size: 30px;
  color: #253658;
  font-weight: bold;
  text-align: center;
}

.title-description {
  font-size: 20px;
  color: #253658;
  text-align: center;
}

.user-name {
  font-size: 16px !important;
  font-weight: bold !important;
}

.content-wrapper {
  border-left: none !important;
  background: white !important;
  min-height: 100vh !important;
}

.sidebar-mini.sidebar-collapse .content-wrapper,
.sidebar-mini.sidebar-collapse .right-side,
.sidebar-mini.sidebar-collapse .main-footer {
  margin-left: 64px !important;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  color: white;
  font-size: 26px;
}
.form-control-feedback {
  position: absolute;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.vertical-center {
  width: 100%;
  position: fixed; /* or absolute */
  top: 50%;
  left: 0px;
  text-align: center;
}

.vertical-center div.logo {
  width: 200px;
  height: 40px;
  max-width: 80%;
  background-image: url("../img/logo.png");
}

.vertical-center img {
  max-width: 40%;
  opacity: 0.1;
}
/*.tabs-prontuario .nav-tabs li {
    width: 16%;
    text-align: center;
}*/

input,
select {
  -webkit-appearance: none;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

.ui-autocomplete,
ui-autocomplete-input {
  z-index: 1200;
}

.ui-autocomplete.ui-widget-content {
  background: #fff;
  z-index: 99999;
}

#autocomplete ul {
  border: 1px solid #aaaaaa;
  background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50%
    repeat-x;
  color: #222222;
  z-index: 1200;
  list-style: none;
}

/* Grade de horários*/
.dia {
  text-align: center;
  font-weight: 600;
  color: #f39c12;
  border: 1px solid #f4f4f4;
  padding: 8px;
  cursor: pointer;
}

.horario {
  text-align: center;
  border: 1px solid #f4f4f4;
  padding: 8px;
}

.horario.selecionado {
  text-align: center;
  /*border: 2px solid #f39c12;*/
  background-color: #f39c12;
  color: #fff;
  padding: 8px;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  color: #d4d4d4;
}

.datepicker-dropdown {
  z-index: 9999 !important;
}

.help-block > p {
  display: none;
}

.sortable.grid li {
  min-height: 30px;
  width: 98%;
}

label {
  font-family: "Roboto", sans-serif !important;
  font-weight: 600;
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fc-event-hover {
  position: relative !important;
  height: 17px;
}
.fc-event-hover .fc-content {
  position: absolute !important;
  top: -1px;
  left: 0;
  background: red;
  z-index: 99999;
  width: auto;
  overflow: visible !important;
  background-color: #3a87ad;
  padding: 1px;
  border-radius: 2px;
  border: 1px solid #3a87ad;
}
.fc-content-skeleton tr td:last-child .fc-event-hover .fc-content {
  left: auto;
  right: 0;
}

.top-button {
  padding: 10px 0;
}

.profile-user-img {
  height: 100px;
}

.table {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
}

table.table-treeview tr {
  cursor: pointer;
}

table td.nivel-0 {
  padding-left: 10px !important;
  font-weight: 600 !important;
}

table td.nivel-1 {
  padding-left: 30px !important;
  font-weight: 600 !important;
}

table td.nivel-2 {
  padding-left: 50px !important;
  font-weight: 600 !important;
}

table td.nivel-2 button.btn {
  padding: 0px;
  line-height: 1;
  font-weight: 600 !important;
  font-size: 12px;
}

table td.nivel-3 {
  padding-left: 70px !important;
}

table td.decimal {
  text-align: right;
}

.logo-cliente {
  margin: auto;
  height: 150px;
  text-align: center;
}

.logo-cliente img {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute !important;
}

.motorista i.check {
  display: none;
}

.motorista.selecionado i.check {
  display: block;
  font-size: 20px;
  color: #0050c9;
  position: absolute;
  top: 0px;
  right: 5px;
}

.motorista h4.nome {
  color: #ccc;
  text-transform: capitalize;
}

.motorista.selecionado h4.nome {
  color: #000;
}

.sub-header {
  padding: 5px 0px;
  margin: 0px 0px;
  background: #fdfdfd;
  text-align: center;
  border-bottom: #eee;
}

input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox,
select {
  -webkit-appearance: none;
  border-radius: 0;
}

.thumb img {
  max-width: 100%;
}

.m-5 {
  margin-left: 8px;
}

i {
  margin-right: 3px;
  font-size: 12px;
}

.r {
  border: red solid 1px;
}

.line-input {
  position: relative;
  float: left;
  padding: 5px;
  min-height: 90px;
}

.line-input-33 {
  position: relative;
  float: left;
  padding: 5px;
  min-height: 90px;
}

.line-input-50 {
  position: relative;
  float: left;
  padding: 5px;
  min-height: 90px;
}

.line-input-area {
  position: relative;
  float: left;
  padding: 5px;
  width: 100%;
  min-height: 90px;
}

.line-input button i {
  color: green;
}

.pac-container {
  z-index: 99999999999999 !important;
}

@media only screen and (max-width: 787px) {
  .line-input {
    width: 100%;
  }
  .line-input-33 {
    width: 100%;
  }
  .line-input-50 {
    width: 100%;
  }
}

@media only screen and (min-width: 788px) {
  .line-input {
    width: 100%;
  }
  .line-input-33 {
    width: 100%;
  }
  .line-input-50 {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .line-input {
    width: 25%;
  }
  .line-input-33 {
    width: 33.2%;
  }
  .line-input-50 {
    width: 50%;
  }
}

@media only screen and (min-width: 1280px) {
  .line-input {
    width: 25%;
  }
  .line-input-33 {
    width: 33.2%;
  }
  .line-input-50 {
    width: 50%;
  }
}

[node-id] rect {
  fill: #dd4b39;
}

/* Go Horse para sumir a estrela do ajax quando temos um renderAjax*/
.has-star:after {
  display: none !important;
}
.help-block {
  display: block !important;
}

/* .input-group-btn {
  position: absolute;
  top: 13px;
  display: inline-block;
  right: 30px;
  z-index: 999;
} */

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
  display: block !important;
  position: absolute;
  width: 250px !important;
  left: 50px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
  width: 250px !important;
}

/* GO HORSE DO SAMUEL */
.sidebar-mini.sidebar-collapse
  .sidebar-menu
  > li:hover
  > a
  > span.pull-right-container {
  display: none !important;
}

.row.meses,
.row.anos {
  width: 100%;
  margin: 10px 0px;
}

.btnMes {
  border: #ccc 1px solid;
  border-radius: 0px;
  margin: 0px;
  text-align: center;
  padding: 4px;
  color: #ccc;
  width: 8%;
  display: inline-block;
}

.bootstrap-dialog-footer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
}

.bootstrap-dialog-footer-buttons .btn-default {
  background: red !important;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bootstrap-dialog-footer-buttons .btn-default .glyphicon {
  display: none;
}

.bootstrap-dialog-footer-buttons .btn-primary .glyphicon {
  display: none;
}

.bootstrap-dialog-message {
  font-size: 24px !important;
  color: #253658;
  text-align: center;
  font-weight: bold;
}

.bootstrap-dialog.type-primary .modal-header {
  background: white !important;
  height: 20px;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-body {
  padding: 0 !important;
}

@media only screen and (max-width: 787px) {
  .btnMes {
    margin: 3px;
    padding: 4px;
    width: 30%;
  }
}

.btnAno {
  border: #ccc 1px solid;
  border-radius: 0px;
  margin-right: 3px;
  text-align: center;
  padding: 4px 10px;
  color: #ccc;
  /* width: 8%; */
  display: inline-block;
}

.btnAno:hover,
.btnMes:hover {
  border: #ccc 1px solid;
  color: #999;
  background-color: #dfdfdf;
}

.btnMes.active,
.btnAno.active {
  border: #0050c9 1px solid;
  background: #0050c9;
  color: #ffffff;
}

.btn-file {
  width: 120px;
}

.btnLogin {
  width: 270px;
  height: 60px;
  background: white;
  color: #4b69a6;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px !important;
}

.btnLogin:hover {
  background: #dedede;
  color: #4b69a6;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #0050c9;
}

.tabs-left,
.tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #eaeaea;
}
.tabs-right {
  border-left: 1px solid #eaeaea;
}
.tabs-left > li,
.tabs-right > li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left > li {
  margin-right: -1px;
}
.tabs-right > li {
  margin-left: -1px;
}
.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: none;
  background: none;
}

.nav-stacked > li {
  border: none;
  margin: 1px 0px !important;
  background-color: #ffffff;
  border-radius: 0;
  border-left: 4px solid #ffffff;
  border-bottom: none !important;
  padding: 5px 0px;
}

.nav-stacked > li > a {
  border-radius: 0;
  border-top: 0;
  border-left: none;
  color: #444;
}

.nav-stacked > li.active,
.nav-stacked > li:hover {
  border: none;
  background-color: #f6f6f6;
  margin: 1px 0px;
  border-left: 4px solid #0050c9;
  border-radius: 0px;
}

.nav-stacked > li.active > a,
.nav-stacked > li.active > a:hover {
  background: transparent;
  color: #0050c9 !important;
  font-weight: 600;
  border-top: none !important;
  border-left-color: transparent !important;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
  color: #444;
  background: none;
}

.nav-tabs > li > a:hover {
  border-color: transparent;
}

.tabs-right > li.active > a,
.tabs-right > li.active > a:hover,
.tabs-right > li.active > a:focus {
  border-bottom: none;
  border-top: none;
  border-left-color: none;
}
.tabs-left > li > a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display: block;
}
.tabs-right > li > a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}

table.planilha {
  width: max-content !important;
  max-width: max-content !important;
}

table.planilha th.col-banco {
  width: 200px;
}

table.planilha th.col-saldo {
  width: 100px;
  text-align: center;
}

table.planilha td {
  padding: 0px !important;
}

table.planilha td.titulo {
  padding: 7px !important;
}

table.planilha td.saldo {
  font-size: 11px !important;
  padding: 6px 6px !important;
  text-align: right;
}

table.planilha tfoot td {
  font-weight: 600;
}

table.planilha td input.saldo {
  font-size: 10px !important;
  padding: 6px 6px !important;
}

table.planilha .border-right {
  border-right: 2px solid #f0f0f0;
}

.tab-content {
  margin-right: 5px;
}

#loginform-username {
  background: transparent;
  color: #fff;
}

#loginform-username::-webkit-input-placeholder {
  color: #fff !important;
}

#loginform-password {
  background: transparent;
  color: #fff;
}

#loginform-password::-webkit-input-placeholder {
  color: #fff !important;
}

#passwordresetrequestform-email {
  background: transparent !important;
  color: #fff !important;
}

#passwordresetrequestform-email::-webkit-input-placeholder {
  color: #fff !important;
}

.tox-statusbar {
  display: none !important;
}

.form-group .glyphicon-eye-open {
  pointer-events: auto;
}
.form-group .glyphicon-eye-open:hover {
  cursor: pointer;
}

#mceu_36 {
  display: none;
}

.breadcrumb {
  text-transform: lowercase !important;
}

.breadcrumb :first-letter {
  text-transform: uppercase !important;
}

.breadcrumb > .active {
  text-transform: none !important;
}

.float-right {
  float: right !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.border-radius-none {
  border-radius: 0px !important;
}

form .help-block {
  display: none !important;
}

.form-group .help-block {
  display: none !important;
}

.form-group.has-error .form-control,
.form-group.has-error .input-group-addon {
  font-size: 20px !important;
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background: #253658 !important;
}

.skin-blue .sidebar-menu > li.header {
  background: #253658 !important;
  color: white !important;
  font-size: 16px;
}

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
  background: white !important;
  color: #162137 !important;
}

.skin-blue .sidebar-menu .treeview-menu > li > a {
  color: white !important;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: white !important;
  color: #162137 !important;
  height: 66px !important;
}

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li.menu-open > a {
  background: #162137;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
  background: #253658 !important;
}

.skin-blue .sidebar a {
  color: white !important;
}

.user-panel > .info > p {
  margin-bottom: 0;
  margin-top: 12px;
  font-size: 16px;
}

.skin-blue .main-header .navbar {
  background: #253658 !important;
}

.skin-blue .main-header .logo {
  background: #253658 !important;
}

.sidebar-menu li a i {
  font-size: 18px;
}
.fa-columns {
  font-size: 24px !important;
  margin-right: 10px;
}
.fa-pencil-alt {
  font-size: 24px !important;
  margin-right: 10px;
}
.fa-chart-bar {
  font-size: 24px !important;
  margin-right: 10px;
}
.fa-arrow-right {
  font-size: 24px !important;
  margin-right: 10px;
}

.sidebar-mini.sidebar-collapse .main-sidebar {
  width: 68px !important;
}

.sidebar-mini.sidebar-collapse .main-header .logo {
  width: 68px !important;
}

.sidebar-mini.sidebar-collapse .main-header .navbar {
  margin-left: 68px !important;
}

.box-small-titles {
  min-height: 75px;
}

.box {
  box-shadow: none;
}

/* Highcharts */
.highcharts-figure,
.highcharts-data-table table {
  min-width: 250px;
  max-width: 660px;
  margin: 1em auto;
}
.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
.highcharts-background {
  height: 0px;
}
.graph-highchart {
  width: 80%;
  height: 320px;
  margin: 0 auto;
  margin-top: -40px;
}
.highcharts-color-0 {
  fill: #4b69a6;
}
.highcharts-color-1 {
  fill: #47a3b3;
}
.highcharts-color-2 {
  fill: #253658;
}
.highcharts-color-3 {
  fill: #cacaca;
}
.highcharts-credits {
  display: none;
}
.highcharts-point .highcharts-color-2 {
  fill: red;
}
.highcharts-legend-item {
  width: 100%;
  max-width: 370px;
}
input.text, input[type="text"], input[type="button"], input[type="submit"], .input-checkbox, select {
  /* border: 1px solid #253658 !important;
  border-radius: 4px !important;
  color: #253658 !important; */
}
.form-group.has-success .form-control, .form-group.has-success .input-group-addon {
  border: 1px solid #253658 !important;
  border-radius: 4px !important;
  color: #253658 !important;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #253658 !important;
}

@media (max-width: 500px) {
  .login-box-body,
  .register-box-body {
    width: 350px !important;
  }
  .login-box,
  .register-box {
    width: 350px;
  }
}
@media (max-width: 350px) {
  .login-box-body,
  .register-box-body {
    width: 300px !important;
  }
  .login-box,
  .register-box {
    width: 300px;
  }
}
